<h1>Add Candidate</h1>

<form action="/candidates" method="POST">
    <input type="text" name="name" placeholder="Name" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="text" name="skills" placeholder="skills" required />

    <button type="submit"> Create </button>
</form>