<h1>Candidate Details</h1>

<p><strong>Name:</strong>{{candidate.name}}</p>
<p><strong>Email:</strong>{{candidate.email}}</p>
<p><strong>Skills:</strong>{{candidate.Skills}}</p>

<a href="/candidates/view">Back</a>
<a href="/candidates/edit/{{candidate._id}}">Edit</a>