{{> candidateLink}}
<form id="login" action="/auth/login" method="POST">
    <div class="row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <a href="/auth/register">Create account</a>
    <button type="submit">Log in</button>
</form>