<form action="/auth/register" method="post">
    <div class="row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="row">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>
    </div>
    <a href="/auth/login">I have an account</a>
    <button type="submit">Register</button>
</form>