<form id="register" action="/auth/register" method="POST">
    <div class="row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="row">
        <label for="confirm-password">Confirm password</label>
        <input type="password" name="confirm-password" id="confirm-password" required>
    </div>
    <a href="/auth/login">I have an account</a>
    <button type="submit">Register</button>
</form>