<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <style>
        body {
            background-color: rgb(215, 217, 231);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 75vh;
        }

        h1 {
            font-size: 72px;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h1>Thank you for applying!</h1>
    <p>We'll contact you about the outcome of your application later.</p>
</body>
</html>