* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 217, 231);
}

form {
    display: flex;
    position: relative;
    height: 90vh;
}

h1 {
    text-align: center;
}

.candidate-form, .application-form {
    padding: 20px;
    width: 100%;
    min-width: 0;
}

.candidate-form {
    border-right: 2px solid gray;
}

.application-form {
    border-left: 2px solid gray;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 25px;
    margin: 0 50px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.pair {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px 5px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
}

label {
    font-size: 18px;
    margin-left: 5px;
}

textarea {
    height: 250px;
    resize: none;
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 5px;
}

.application-form textarea {
    height: 150px;
}

select {
    padding: 10px 5px;
    font-size: 18px;
    border-radius: 5px;
}

@media (max-width: 1000px) {

    body {
        padding-bottom: 10vh;
    }

    form {
        height: min-content;
        padding-bottom: 50px;
    }

    .row {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    input, label, select {
        font-size: 15px;
    }

    textarea {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .inputs {
        gap: 15px;
    }

    .row {
        gap: 15px;
    }
}

@media (max-width: 320px) {
    button {
        bottom: -20px;
    }
}