* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100vh;
}

p {
    line-height: 1.5;
}

.left {
    grid-column: span 8;
    background-color: #E5EAF0;
    position: relative;
}

.right {
    grid-column: span 2;
    background-color: #7892ED;
    border-left: 2px solid rgb(49, 74, 167);
}

.user-info {
    width: 100%;
    text-align: center;
    padding-top: 25vh;
    height: 50%;
    min-width: 240px;
}

#user-id {
    display: none;
}

.user-info a {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(215, 217, 231);
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
    margin-top: 100%;
    text-decoration: none;
    color: black;
}

.user-info a:visited {
    color: black;
}

.user-info a:hover {
    background-color: rgb(189, 193, 222);
}

.no-user {
    width: 100%;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.no-user p {
    line-height: 1.5;
}

a, a:visited {
    font-weight: bold;
    color: blue;
}

.back {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
}

.back:hover {
    background-color: gray;
}

@media (max-width: 1200px) {
    .left {
        grid-column: span 7;
    }

    .right {
        grid-column: span 3;
    }
}

@media (max-width: 1050px) {
    .left {
        overflow: scroll;
    }
}

@media (max-width: 800px) {
    .left {
        grid-column: span 6;
    }

    .right {
        grid-column: span 4;
    }
}